
<h1>These are all your movement choices</h1>

<%= @movements.each do |movement| %>
	<%= movement.name %>
	<%= movement.date %>
	<%= movement.result %>
	<%= movement.type %>
	>%= movement.pr %>
<% end %>	
