
<h1>Create a new WOD</h1>

<%= form_for @wod do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %><br><br>
	<%= f.label :wod_type %>
	<%= f.select :wod_type, ["weight", "time", "repetitions"], :prompt => "Select One" %><br><br>
	<%= render "movement", f: f %><br>
	<%= f.submit %>
<% end %>
	
