
		<li>Movement: <%= @movement.name %></li><br>
		<li>Date Completed: <%= usermovement.date.strftime("%d %B %Y") %></li><br>
		<% if @movement.movement_type == "time" %>
			<li>Result Achieved: <%= usermovement.result %> minutes</li><br>
		<% elsif @movement.movement_type == "weight" %>
			<li>Result Achieved: <%= usermovement.result %> kgs</li><br>
		<% elsif @movement.movement_type == "repetitions" %>
			<li>Result Achieved: <%= usermovement.result %> reps</li><br>
		<% end %>			
		<li>Movement done for: <%= @movement.movement_type %></li><br>
		<li>PR? (true/false): <%= usermovement.pr %></li>
		<h3>_______________________</h3><br>