
		<li>Movement: <%= usermovement.name %></li><br>
		<li>Date Completed: <%= usermovement.date.strftime("%d %B %Y") %></li><br>
		<% if usermovement.movement_type == "time" %>
			<li>Result Achieved: <%= usermovement.result %> minutes</li><br>
		<% elsif usermovement.movement_type == "weight" %>
			<li>Result Achieved: <%= usermovement.result %> kgs</li><br>
		<% elsif usermovement.movement_type == "repetitions" %>
			<li>Result Achieved: <%= usermovement.result %> reps</li><br>
		<% end %>			
		<li>Movement done for: <%= usermovement.movement_type %></li><br>
		<li>PR? (true/false): <%= usermovement.pr %></li><br>
		<%= link_to "delete movement", usermovement_path( 	usermovement), method: :delete %>
		<h3>_______________________</h3><br>