
<h1>Edit your profile:</h1>

<%= form_for @user do |f| %>
	<%= render 'form', f: f %>
	<%= f.label :name %>
	<%= f.text_field :name %><br><br>
	<%= f.submit "Update Profile" %>	
<% end %>	

<h2>To change your password please see your box owner</h2>