
<h1>Edit your profile:</h1>

<%= form_for @user do |f| %>
	<%= render 'form', f: f %>
	<%= f.label :name %>
	<%= f.text_field :name %><br><br>
	<%= f.label :password %>
	<%= f.password_field :password %><br><br>
	<% if current_user.owner == true %>
		<%= f.label :password %>
		<%= f.password_field :password %><br><br>
		<%= f.label :owner %>
		<%= f.label :owner, "true", value: true %>
		<%= f.radio_button :owner, true %>
		<%= f.label :owner, "false", value: false %>
		<%= f.radio_button :owner, false %>
	<% end %>	
	<%= f.submit "Update Profile" %>	
<% end %>	
