

		<div class="field" >
			<%= f.label :name %>
			<%= f.text_field :name %><br><br>
		</div>
		<div class="field" >
			<%= f.label :movement_type %>
			<%= f.select :movement_type, ["weight", "time", "repetitions"], :prompt => "Select One" %><br><br>
		</div>
		<div class="field" >
			<%= f.label :quantity %>
			<%= f.text_field :quantity %><br><br>
		</div>	
	
