
	
	<li>Name: <%= movement.name %></li>
	<li>Movement Type: for <%= movement.movement_type %></li>
	<li>Quantity: <%= movement.quantity %></li><br>
	<% if current_user.owner == true %>
		<%= link_to "Edit Movement", edit_admin_movement_path(movement) %> |
		<%= link_to "Delete", admin_movement_path(movement), method: :delete %><br>
	<% end %>	
	__________________________________<br>