
<h1>Edit movement: </h1>

<%= form_for @movement do |f| %>
	<%= render 'application/errors', target: @umovement %>
	<%= render 'form', f: f %>
	<%= f.submit %>	
<% end %><br>	

<%= link_to "Delete", movement_path(@movement), method: :delete %> 