
	
		<%= f.hidden_field :user_id %>
	<div class="field" >	
		<%= f.label :date %>
		<%= date_select :userwod, :date %><br><br>
	</div>
	<div class="field" >	
		<%= f.label :result %>
		<%= f.text_field :result %><br><br>
	</div>
	<div class="field" >		
		<%= f.label :pr %>
		<%= f.check_box :pr %><br><br>
	</div>	