

<li>Name: <%= userwod.name %></li>
<li>WOD Type: <%= userwod.cftype %></li>
<li>Result: <%= userwod.result %></li>
<li>PR (true/false): <%= userwod.pr %></li><br>
<%= link_to "Edit WOD", edit_user_userwod_path(current_user, userwod) %> |
<%= link_to "Delete WOD", user_userwod_path(current_user, userwod), method: :delete %><br>
____________________________________________<br>