
<h1>Welcome to WODapp <%= @user.name %></h1>

<ul>
	<li><%= link_to "You can enter a new movement result", new_usermovement_path %></li>
	<li><%= link_to "You can enter a new WOD result", new_userwod_path %></li>
	<li><%= link_to "You can see all your movement results", usermovements_path(@user) %></li>
	<li><%= link_to "You can see all your WOD results", userwods_path(@user) %></li>
	<li><%= link_to "You can view your profile page", user_path(@user) %></li>
</ul>	


